@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap');

*{
    font-family: "Stack Sans Headline", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
  width: 100%;
  height: 60px;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background: #0b052b;
  color: #fff;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.navbar {
  display: flex;
  gap: 50px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s;
  display: flex;
  align-items: center;
}

.navbar a:hover {
  opacity: 0.7;
}

#toggle,
.hamburger {
  display: none;
}

.profile-page{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.container {
    padding: 90px;
}

.form-doador{
  background-color: #dadada;
  margin-top: 20px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(94, 94, 94, 0.25);
  overflow: visible;
}

.row-1{
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

label,
input {
    display: block;
}

label {
    margin-bottom: 5px; /* espaço entre label e input */
    font-size: 15px;
}

.item-form{
  width: 100%;
}

.row-2{
  padding-top: 20px;
  display: flex;
}

.row-3{
  padding-top: 20px
}

.row-4{
  padding-top: 20px;
  padding-bottom: 25px;
}

.row-6{
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.row-7{
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.row-8{
    padding-top: 20px;
}

input, select{
  width: 100%;
  height: 40px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.opcao-sim, .opcao-nao{
  display: flex;
  gap: 5px;
}

#label-sim, #label-nao{
  margin-top: 5px;
}

.confirm-radio{
  display: flex;
  justify-content: space-start;
  gap: 20px;
}

.button {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}

.button button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s ease;
}

/* Botão cancelar */
.button button[type="reset"] {
    background-color: #d9534f;
    color: white;
}

.button button[type="reset"]:hover {
    background-color: #f7b2b2;
}

/* Botão enviar */
.button button[type="submit"] {
    background-color: #5cb85c;
    color: white;
}

.button button[type="submit"]:hover {
    background-color: #97f897;
}

footer p{
    text-align: center;
    padding: 20px;
    background-color: #0b052b;
    color: white;
}

@media (max-width: 768px) {
.hamburger {
    display: block;
    font-size: 20px;
    cursor: pointer;
    text-align: right;
    padding: 5px 10px;
    color: #fff;
  }

  .menu-items {
    display: none;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    background: #111;
  }

  .row-1,
  .row-2,
  .row-6,
  .row-7,
  .row-8 {
        flex-direction: column;   /* inputs um abaixo do outro */
        justify-content: center;
        gap: 15px;
    }

   .button {
        flex-direction: column-reverse;
        width: 100%;
    }

    .button button {
        width: 100%;  /* botões ocupam toda a largura */
    }
}

@media (min-width: 767px) and (max-width: 992px) {
  .hamburger {
    display: block;
    font-size: 20px;
    cursor: pointer;
    text-align: right;
    padding: 5px 10px;
    color: #fff;
  }

  .menu-items {
    display: none;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    background: #111;
  }

  .row-1,
  .row-2,
  .row-6,
  .row-7
  .row-8{
        flex-direction: column;   /* inputs um abaixo do outro */
        justify-content: center;
        gap: 15px;
    }
}
