@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap');

*{
    font-family: "Stack Sans Headline", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
  width: 100%;
  height: 60px;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background: #0b052b;
  color: #fff;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.navbar {
  display: flex;
  gap: 50px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s;
}

.navbar a:hover {
  opacity: 0.7;
}

#toggle,
.hamburger {
  display: none;
}

@media (max-width: 768px) {
.hamburger {
    display: block;
    font-size: 20px;
    cursor: pointer;
    text-align: right;
    padding: 5px 10px;
    color: #fff;
  }

  .menu-items {
    display: none;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    background: #111;
  }
}