@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap');

*{
    font-family: "Stack Sans Headline", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
  width: 100%;
  height: 60px;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background: #0b052b;
  color: #fff;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.navbar {
  display: flex;
  gap: 50px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s;
  display: flex;
  align-items: center;
}

.navbar a:hover {
  opacity: 0.7;
}

#toggle,
.hamburger {
  display: none;
}

.profile-page{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.main-content{
   padding-top: 60px;
}

.welcome-section{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #dadada;
  width: 100%;
  height: 100vh;
}

.info-doador{
  display: flex;
  justify-content: space-around;
  gap: 30px;
  padding-top: 40px;
}

.info{
  width: 300px;
  text-align: center;
  background-color: #0b052b;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.container-become-doador{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0px;
  margin-top: 30px;
  
}

.become-doador{
  width: 50%;
  height: 250px;
  background-color: #dadada;
  box-shadow: 0px 2px 2px 0px rgba( 0, 0, 0, 0.4);
  border-radius: 15px;
  text-align: center;
  padding: 20px;
}

.become-doador p, h2{
  margin-top: 20px;
}

.button {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}

.button button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s ease;
    background-color: #0b052b;
}

button a{
    text-decoration: none;
    color: white;
}

.button button:hover {
    background-color: #333;
}

.container-about{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f5f5f5;
}

.about-img{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text{
  flex: 1;
  padding: 20px;
  color: #333;
}

.about-img img {
max-width: 50%;
height: auto;
border-radius: 10px;
}

.container-request-blood{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0px;
  margin-top: 30px;
  
}

.request-blood{
  width: 50%;
  height: 250px;
  background-color: #dadada;
  box-shadow: 0px 2px 2px 0px rgba( 0, 0, 0, 0.4);
  border-radius: 15px;
  text-align: center;
  padding: 20px;
}

.request-blood p, h2{
  margin-top: 20px;
}

footer p{
    text-align: center;
    padding: 20px;
    background-color: #0b052b;
    color: white;
}


@media (max-width: 768px) {
.hamburger {
    display: block;
    font-size: 20px;
    cursor: pointer;
    text-align: right;
    padding: 5px 10px;
    color: #fff;
  }

  .menu-items {
    display: none;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    background: #111;
  }

  .info-doador{
    flex-wrap: wrap;
  }

  .become-doador{
    height: auto;
  }

  .request-blood{
    height: auto;
  }

  .container-about{
    flex-direction: column;
    text-align: center;
  }
}

@media (min-width: 767px) and (max-width: 992px) {
  .hamburger {
    display: block;
    font-size: 20px;
    cursor: pointer;
    text-align: right;
    padding: 5px 10px;
    color: #fff;
  }

  .menu-items {
    display: none;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    background: #111;
  }

  .info-doador{
    flex-wrap: nowrap;
    margin: 10px;
  }

  .become-doador{
      height: auto;
  }

  .request-blood{
      height: auto;
  }
}





