@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap');

*{
    font-family: "Stack Sans Headline", sans-serif;
}

body{
    background-color: #E8A4A4;
}
main{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    position: relative;
    background-color:#F4F4F4;
    margin: auto;
    border: 1px solid rgb(0, 0, 0, 0.4);
}
a{
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    background-color: #6FAD76;
    padding: 10px;
    border-radius: 20%;
    text-transform: capitalize;

}
header{
    display: flex;
    background-color:rgb(241, 241, 241) ;
    box-shadow: 0px 2px 2px 0px rgba( 0, 0, 0, 0.4);
} 
.usuario{
    display: flex;
    position: relative;
    align-items: center;
}
#troca-inf{
    display: none;
}
.perfil{
    display: flex;
    flex-direction: column;
    margin: 35px 5px 15px 40px;
    
}
.sangue{
    position: absolute;
    right: 20px;
    top: 10px;
    text-transform: uppercase;
    background-color: #C94A4A;
    border: 1px solid;
    border-radius: 100%;
    padding: 10px;
}
.usuario img{
    height: 90px;
    margin-bottom: 9px;
    border-radius: 100%;
    
}
.confirm{
    cursor: pointer;
    gap: 5px;
    text-align: center;
}
.descricao{
 margin: 1px 10px 0px 15px;
}
.descricao p{
 text-align: right;
}
.abso{
    display: none;
    background-color: white;
    position: absolute;
    margin: auto;
    right: 500px;
    flex-wrap: wrap;
    justify-content: space-around; 
    width: 300px;
    z-index: 100;
}
#aviso{
    background-color: black;
    color: white;
    height: 250px;
    width: 250px;
    text-align:left;
    padding: 20px;
    margin: 20px 10px 30px 10px;
    resize: none;
    border: 2px solid;
}
legend{
    text-transform: capitalize;
    text-decoration: underline;
    font-family:"Indie Flower", cursive;;
    
}
#troca-inf:checked + .confirm + .abso {
      display: flex;
}
.hist1{
    display: flex;
    align-items: center;
}
.hist1 span{
    background-color: #A5A5A5;
    height: 100px;
    width: 400px;
    margin: 5px 5px 15px 5px;
    border: 1px solid;
}
.hist1 p{
    font-size: 12px;
    text-align: justify;
    word-break: break-all;
    text-decoration:underline;
}

@media (min-width: 601px) , (max-width: 1024px){
    .abso{ 
    display: none ;
    background-color: #A5A5A5;
    position: absolute;
    margin: auto;
    right: 80px;
    flex-wrap: wrap;
    justify-content: space-around; 
    width: 300px;
    z-index: 100;
 }
 .hist1{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.hist1 span{
    background-color: #A5A5A5;
    height: 100px;
    width: 400px;
    margin: 5px 5px 15px 5px;
    border: 1px solid;
}
.hist1 p{
    font-size: 12px;
    text-align: justify;
    word-break: break-all;
    text-decoration:underline;
    margin: 2px;
}

    
}
@media (max-width: 600px) {
    body{
        font-size: 10px;
    }
    
}