body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.conteiner {
    background-image: linear-gradient(to top, rgba(85, 85, 85, 0.3), rgba(0, 0, 0, 0.5));
    border-radius: 20px;
    width: 500px;
    padding: 20px;
    gap: 10px;
}

.inputlabel {
    color: white;
    text-shadow: 2px 3px 2px black;
    text-align: center;
    gap: 10px;
    
}

.internal {
    display: flex;
    flex-wrap: wrap;         
    gap: 40px;               
    justify-content: center; 
    margin-top: 10px;
}


.internal > div {
    display: flex;
    flex-direction: column;
    width: 45%;   
    min-width: 200px;
}

input, select {
    outline: none;
    width: 100%;
    padding: 5px;
    cursor: pointer;
}

#criarconta {
    position: relative;
    height: 30px;
    width: 150px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    margin-top: 20px;
    top: 10px;

}



.linka {
    color: white;
    text-decoration: none;
}


.senha-container {
    position: relative;
}

#eye1 {
    position: absolute;
    right: 10px;
    top: 30px;
    cursor: pointer;
    color: black;
    text-shadow: none;
}

#autoria {
    position: relative;
    margin-top: 10px;
    font-size: 14px;
    top: 20px;
}
label{
    padding: 3px;
}


@media (max-width: 600px) {
    .conteiner {
        width: 90%;
    }

    .internal > div {
        width: 100%;  
    }

    #criarconta {
        width: 80%;
    }
}