body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f0f0f0;
}

/* ===== Dados ===== */
.header {
    display: flex;
    align-items: center;
    padding: 20px;
    background: #e86b73;
    box-shadow: 1px 1px 10px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    background: #c75c62;
    border-radius: 50%;
}

.user-info {
    margin-left: 20px;
    color: rgb(0, 0, 0);
}

.dot {
    margin-left: auto;
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
}

/* ===== Sections ===== */
.section {
    padding: 15px 30px;
}

.section h3 {
    margin-bottom: 8px;
}

/* ===== Carousel ===== */
.carousel {
    display: flex;
    align-items: center;
}

.arrow-left,
.arrow-right {
    font-size: 35px;
    color: #777;
    padding: 5px 15px;
    cursor: default;
}

.cards-row {
    display: flex;
    gap: 15px;
    padding: 10px;
}

.cards-row.blue .card {
    padding: 30px;
    background: #2c8ed6;
    box-shadow: 1px  4px 10px gray;
}

.cards-row.red .card {
    height: 190px;
    padding: 30px;
    background: #e67a7a;
    box-shadow: 1px  4px 10px gray;
}

.card {
    width: 140px;
    padding: 12px;
    border-radius: 12px;
    color: rgb(0, 0, 0);
    text-align: center;
}



.avatar {
    width: 75px;
    height: 75px;
    background: #d1d1d1;
    border-radius: 50%;
    margin: auto;
}

/* ===== Details Box ===== */
.details-box {
    text-align: center;
    display: flex;
    background: #5ea9dd;
    padding: 25px;
    border-radius: 12px;
    width: 85%;
    margin: 30px auto;
   
}

.details-left {
    width: 35%;
    text-align: left;
    padding-right: 25px;
}

.details-right {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.avatar.big {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    right: 10px;
}

.info-line {
    width: 100%;
    height: 55px;
    background: #d9d9d9;
    border-radius: 8px;
}

.accept-btn {
    margin-top: 25px;
    padding: 10px 25px;
    border: none;
    background: #ffffff;
    border-radius: 10px;
    cursor: pointer;
}
.botao{
    border: 0px;
    border-radius: 100px;
    padding: 10px;
    position: relative;
    top: -1em;
}
i{
    position: relative;
    width: 100px;
}
.details-box{
    display: none;
}
#id::checked details-box {
    display: flex;
}