@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap');

*{
    font-family: "Stack Sans Headline", sans-serif;
    box-sizing: border-box;
}

body{
    background: #f5f5f5;
    margin: 0;
    padding: 0;
}

/* ---------------- MENU ---------------- */

.menu {
  width: 100%;
  height: 60px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background: #0b052b;
  color: #fff;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.navbar {
  display: flex;
  gap: 50px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s;
  display: flex;
  align-items: center;
}

.navbar a:hover {
  opacity: 0.7;
}

#toggle,
.hamburger {
  display: none;
}

.profile-page{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

/* --------------- RESPONSIVO MENU ---------------- */

@media (max-width: 768px) {

  .hamburger {
      display: block;
      font-size: 24px;
      cursor: pointer;
      padding: 10px;
      color: #fff;
  }

  .menu-items {
      display: none;
      flex-direction: column;
      gap: 15px;
      padding: 20px;
      background: #111;
      width: 100%;
      position: absolute;
      top: 60px;
      left: 0;
  }

  #toggle:checked ~ .menu-items {
      display: flex;
  }
}

/* ---------------- MAIN ---------------- */

main{
    margin-top: 90px;
    margin-bottom: 40px;
    width: 90%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    background-color: #dedede;
    border-radius: 15px;
    box-shadow: 0px 2px 2px 0px rgba( 0, 0, 0, 0.4);
}

/* ---------------- PERFIL ---------------- */

.usuario{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: space-between;
    gap: 50px;
}

.perfil img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.sangue{
    text-transform: uppercase;
    background-color: #C94A4A;
    border-radius: 100%;
    padding: 10px 14px;
    color: white;
    font-weight: bold;
}

/* ---------------- FORMULÁRIO ---------------- */

.formulario{
    margin-top: 20px;
    width: 100%;
}

fieldset{
    border: none;
    padding: 0;
}

legend{
    font-size: 1.9rem;
    font-weight: 700;
    margin-bottom: 25px;
}

form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 40px;
}

.item label{
    font-size: 15px;
    font-weight: 500;
    display: block;
    margin-bottom: 6px;
}

.item input{
    width: 100%;
    padding: 13px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    background: white;
}

/* BOTÕES */
.botao{
    grid-column: span 2;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.botao input{
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.botao input[type="reset"]{
    background: #d9534f;
    color: white;
}

.botao input[type="submit"]{
    background: #5cb85c;
    color: white;
}

.botao input[type="submit"]:hover {
    background-color: #97f897;
}

.botao input[type="reset"]:hover {
    background-color: #f7b2b2;
}
/* ---------------- MOBILE ---------------- */

@media (max-width: 700px){

    form{
        grid-template-columns: 1fr;
    }

    .botao{
        grid-column: span 1;
        justify-content: center;
    }
}
